/*===== General styles import =====*/
@import "./colors";
@import "./fonts";

.details-content {
    position: relative;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $gray;

    &:last-child {
        background-image: url("https://static-mh.content.disney.io/starwars/assets/shared/bg_hash_top-dca2c5ab1b2e.png");
        background-size: 7px;
        background-repeat: repeat-x;
        background-position: top left;

        border-left:  2px solid $border-red;
    }

    &:last-child::after {
        content: '';
        position: absolute;
        right: 0;
        top: 25%;
        border-right: 6px solid rgb(0, 0, 0);
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        height: 155px;
        width: 0;
    }
}