/*===== General styles import =====*/
@import "./colors";
@import "./fonts";

$card-boder-radius: 6px;

.details-content {
    position: relative;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $gray;

    &:first-child, .details-img {
        border-bottom-left-radius: $card-boder-radius;
        border-top-left-radius: $card-boder-radius;
    }
    &:last-child {
        background-image: url("https://static-mh.content.disney.io/starwars/assets/shared/bg_hash_top-dca2c5ab1b2e.png");
        background-size: 7px;
        background-repeat: repeat-x;
        background-position: top left;

        border-bottom-right-radius: $card-boder-radius;
        border-top-right-radius: $card-boder-radius;
        border-left:  2px solid $border-red;

        padding: 1.6rem;
        display: block;
    }
    
    &:last-child::after {
        content: '';
        position: absolute;
        right: 0;
        top: 25%;
        border-right: $card-boder-radius solid #010101;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        height: 155px;
        width: 0;
    }
    @media screen and (max-width: 992px) {
        &:last-child {
            height: 100%;
            border-top:  2px solid $border-red;
            border-left:  0px;
            border-bottom-left-radius: $card-boder-radius;
            border-top-right-radius: 0;
        }
        &:first-child, .details-img{
            border-top-right-radius: $card-boder-radius;
            border-bottom-left-radius: 0;
        }
    }
    @media screen and (max-width: 767px) {
        height: 50vh;
    }
}
.details-img {
    object-fit: cover;
    object-position: top;
    height: 100%;
    width: 100%;
}
.details-title {
    color: $light;
}