/*===== Home Styles =====*/
.home-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*===== CardsContaines Styles =====*/
.section {
    border: 1px solid black;
    
    margin: 4rem 0 2rem 0;
    padding: 2rem;
    overflow-x: scroll;
    overflow-y: hidden;
}
.cards-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*===== Card Styles =====*/