/*===== General styles import =====*/
@import "./colors";
@import "./fonts";

/*===== Views styles import =====*/
@import "./home";
@import "./details";

/*===== General =====*/
*, *::before, *::after {
    box-sizing: border-box;
    transition: 0.3s;
}

body {
    color: #9E9E9E;
    line-height: 1.6;
    overflow-x: hidden;
}
p {
    margin: 0;
}
.webpage {
    position: relative;
    height: 100%;
}

a {
    text-decoration: none;
    color: $blue
}

button.btn, .btn, a.btn-outline-info, .btn-outline-warning {
    &:active, &:focus, &:focus-visible, &:active:focus {
        box-shadow: none;
    }
}

.row, .row > * {
    margin: 0;
    padding: 0;
}

.container, .container-fluid {
    padding: 0;
}

/*===== Background =====*/
.background {
    background-image: url("../img/background.png");
    background-repeat: repeat;
    background-size: contain;
    position: relative;
    min-height: 100vh;
    width: 100vw;
    
    &::before {
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-color: #000000b8;
    }
}

/*===== Navbar =====*/
.nav-wrapper {
    background-color: #000000e0;
    border-bottom: 1px solid #077b924d;
}
.nav-link {
    color: white;
    width: 100%;
    text-align: center;

    &:hover {
        color: $a-hover;
    }
    &:focus {
        color: white;
    }
}
@media screen and (max-width: 992px) {
    .nav-link:hover {
        background-color: $a-hover;
        color: white;
    }
}
.dropdown {
    width: -moz-fit-content;
}
.dropdown-menu {
    padding: 0;
}
.dropdown-toggle {
    cursor: pointer;
}
.dropdown-item:hover {
    background-color: $light-red;
}
.fav-link {
    color: black;
    &:hover {
        color:white
    }
}
.trash-button {
    color: $red;
    background: none;
    border: none;
    float: right;
}
.form-control:focus {
    box-shadow: none;
}