/*===== General styles import =====*/
@import "./colors";
@import "./fonts";
/*===== Views styles import =====*/
@import "./home";

/*===== General =====*/
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    color: white;
    line-height: 1.6;
}

.webpage {
    position: relative;
}

h1,h2,h3,h4,h5 {
    color: $red;
}

/*===== Background =====*/
.background {
    background-image: url("../img/background.png");
    background-repeat: repeat-y;
    position: relative; 
    min-height: 100%;
    width: 100%;
    
    &::before {
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-color: #000000b8;
    }
}